[Desktop Entry]
Name=mpris2controller Daemon
Comment=Autostart mpris2controller daemon with desktop session
Exec=mpris2controller --no-fork
Terminal=false
Type=Application
NoDisplay=true
Hidden=true